html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #27263D;
}

.wallets_column {
    height: 100%;
    background-color: #8B7AA8;
    border-radius: 1em;
    margin-right: 5px;
    overflow-x: hidden;
}

.wallets {
    margin: 0;
    padding: 0;
}

.wallets li {
    padding-left: 20px;
    color: white;
    font-size: 1.5em;
    list-style: none;
    border: 0.5px solid white;
    border-radius: 0.5em;
    margin-bottom: 5px;
}

.wallets li .create_wallet {
    height: 40px;
    margin-top: -7px;
    font-size: 1.3em;
    text-align: center;
}

.wallets li:hover {
    background-color: darkseagreen;
    cursor: pointer;
}

.transactions_column {
    height: 100%;
    background-color: #8B7AA8;
    border-radius: 1em;
}

.transactions_table {
    margin-top: 5px;
    border: 1px solid white;
    width: 100%;
    color: white;
    max-height: 100%;;
}

.transactions_table tr th {
    border: 1px solid white;
    font-size: 1.6em;
}

.transactions_table tr td {
    border: 1px solid white;
    font-size: 1.3em;
}

.add_transaction {
    width: 100%;
    height: 35px;
    font-size: 1.3em;
    text-align: center;
}

.add_transaction:hover {
    background-color: darkseagreen;
    cursor: pointer;
}