html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_div {
    background-color: lightgrey;
}

/* ============================= WALLETS ============================= */

.wallets_column {
    height: 100%;
    background-color: whitesmoke;
    border-radius: 1em;
    margin-right: 5px;
    overflow-x: hidden;
}

.wallets {
    margin: 0;
    padding: 0;
}

.wallets li {
    padding-left: 20px;
    color: black;
    font-size: 1.5em;
    list-style: none;
    border: 0.5px solid black;
    border-radius: 0.5em;
    margin-bottom: 5px;
    word-break: break-all;
}

.wallets li .create_wallet {
    height: 40px;
    margin-top: -7px;
    font-size: 1.3em;
    text-align: center;
}

.wallets li:hover {
    background-color: darkseagreen;
    cursor: pointer;
}

/* ============================= TRANSACTION ============================= */

.transactions_column {
    height: 100%;
    background-color: whitesmoke;
    border-radius: 1em;
    overflow-x: hidden;
}

.transactions_table {
    margin-top: 5px;
    border: 1px solid black;
    width: 100%;
    color: black;
    max-height: 100%;;
}

.transactions_table tr th {
    border: 1px solid black;
    font-size: 1.6em;
}

.transactions_table tr td {
    border: 1px solid black;
    font-size: 1.3em;
    word-break: break-all;
}

.create_transaction {
    width: 100%;
    height: 35px;
    font-size: 1.3em;
    text-align: center;
}

.create_transaction:hover {
    background-color: darkseagreen;
    cursor: pointer;
}

/* ============================= INPUTS ============================= */

.dark_background {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    top: 0;
}

/* ============================= WALLET INPUTS ============================= */

.create_wallets_inputs, .edit_wallets_inputs {
    display: none;
    top: calc(50% - 5em);
    left: calc(50% - 10em);
    width: 20em;
    height: 10em;
    position: absolute;
    border-radius: 1em;
    background-color: darkseagreen;
    text-align: center;
}

.create_wallets_inputs .title, .edit_wallets_inputs .title {
    font-size: 1.5em;
    margin-right: 5px;
}

.create_wallets_inputs .create_button, .edit_wallets_inputs .create_button {
    margin-top: 30px;
}

.close {
    margin-right: 5px;
    font-size: 2em;
}

.edit_wallet {
    margin-top: 7px;
    font-size: 1.1em;
}

.close:hover, .edit_wallet:hover {
    cursor: pointer;
}

/* ============================= TRANSACTION INPUTS ============================= */

.create_transactions_inputs {
    display: none;
    top: calc(50% - 6.5em);
    left: calc(50% - 14em);
    width: 28em;
    height: 13em;
    position: absolute;
    border-radius: 1em;
    background-color: darkseagreen;
    text-align: center;
}

.create_transactions_inputs .title {
    font-size: 1.1em;
    margin-right: 5px;
}

.create_transactions_inputs .create_button {
    margin-top: 23px;
    width: 200px;
}