{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<div class="container-fluid h-100 main_div">
    <div class="row justify-content-center h-100 w-100">
        <div class="col-md-2 wallets_column">
            <ul class="wallets">
                {% for wallet in wallets %}
                <li class="li_wallets" value="{{ wallet.id }}">
                    <button type="button" class="close delete_wallet" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <button type="button" class="close edit_wallet" aria-label="Edit">
                        <span aria-hidden="true">&#x270f;</span>
                    </button>

                    <div class="wallet">
                        <span>Title: </span> <span class="title">{{ wallet.title }}</span> <br>
                        <span>Amount: </span> <span class="amount">{{ wallet.amount|floatformat:3 }}</span>
                    </div>
                </li>
                {% endfor %}

                <li>
                    <div class="create_wallet">+</div>
                </li>
            </ul>
        </div>

        <div class="col-9 transactions_column">
            <table class="transactions_table">
                <thead>
                <tr>
                    <th><span>Id</span></th>
                    <th><span>Amount</span></th>
                    <th><span>Data</span></th>
                    <th><span>Comment</span></th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr value="{{ transaction.id }}">
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.amount|floatformat:5 }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>
                        {{ transaction.comment }}
                        <button type="button" class="close delete_transaction" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="create_transaction">+</div>
        </div>
    </div>
</div>

{# ============================================== HIDDEN BLOCKS ============================================== #}

<div class="dark_background"></div>

<div class="create_wallets_inputs">
    <button type="button" class="close close_wallets_inputs_button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>Create wallet</h2>

    <form class="create_wallets_inputs_form">
        {% csrf_token %}
        <span class="title">Title</span><input class="title_input" type="text">
        <input type="submit" value="Create" class="btn btn-info create_button">
    </form>
</div>

<div class="create_transactions_inputs">
    <button type="button" class="close close_transaction_inputs_button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>Create transaction</h2>

    <form class="create_transactions_inputs_form">
        {% csrf_token %}
        <table>
            <tr>
                <td><span class="title">Title of wallet</span></td>
                <td><input class="wallet_title_input" type="text"></td>
            </tr>

            <tr>
                <td><span class="title">Amount for transaction</span></td>
                <td><input class="amount_input" type="number" step="0.01"></td>
            </tr>

            <tr>
                <td><span class="title">Comment</span></td>
                <td><input class="comment_input" type="text"></td>
            </tr>
        </table>

        <input type="submit" value="Create" class="btn btn-info create_button">
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>